* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/bg-stars.svg");
  background-color: hsl(235, 16%, 14%);
  background-repeat: no-repeat;
  color: white;
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Text", sans-serif;
}

.countdown-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-body .header {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 5px;
  margin-bottom: 5rem;
}

.counter {
  width: 47%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.days,
.hours,
.minutes,
.seconds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days .box,
.hours .box,
.minutes .box,
.seconds .box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  background-color: hsl(236, 21%, 26%);
  color: hsl(345, 95%, 68%);
  border-radius: 10px;
  box-shadow: 0 12px 6px -6px hsl(234, 17%, 12%);
  margin-bottom: 25px;
}

.days p,
.hours p,
.minutes p,
.seconds p {
  color: hsl(237, 18%, 59%);
  letter-spacing: 8px;
}

img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
